<div class="footer border-top mt-auto">
    <div class="f-info-social">
        <i class="fa-brands fa-facebook" style="color: #25395b;"></i>
        <i class="fa-brands fa-instagram" style="color: #25395b;"></i>
        <i class="fa-brands fa-twitter" style="color: #25395b;"></i>
    </div>
    <div>WanderLust Privted Limited</div>
    <div class="f-info-link">
        <p>Terms</p>
        <p>Privacy</p>
        <p>Company Details</p>
    </div>
</div>