<% layout("layouts/boilerplate.ejs") -%>
<body>

  <div style="margin-left: auto;">
    <h1>All Listing</h1>

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 ">
        <% for(let list of allListing){ %>
        <a href="/listings/<%= list._id %>" class="list-link">
            <div class="card col">
                <img src="<%= list.image %>" class="card-img-top" alt="..."
                    style="width: 20rem; height: 20rem;">
                <div class="card-body">
                    <p class="card-text"><b><%= list.title %></b>
                        <br>
                        &#8377; <%= list.price.toLocaleString("en-IN") %> /
                        night</p>
                </div>
            </div>
        </a>
        <% } %>
    </div>

  </div>
</body>
