<% layout("layouts/boilerplate.ejs") -%>
    <body>
        <form method="POST" action="/listings">
            <h3>Create New LIsting</h3>
            <br>
            <input type="text" name="listing[title]"
                placeholder="enter a title">
            <br>
            <br>
            <textarea name="listing[description]"
                placeholder="write a description"></textarea>
            <br>
            <br>
            <input type="text" name="listing[image]" placeholder="image url">
            <br>
            <br>
            <input type="number" name="listing[price]"
                placeholder="enter a price">
            <br>
            <br>
            <input type="text" name="listing[country]"
                placeholder="enter a country">
            <br>
            <br>
            <input type="text" name="listing[location]"
                placeholder="enter a location">

            <br>
            <br>
            <button>ADD</button>
        </form>
    </body>
