<% layout("layouts/boilerplate.ejs") -%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <br>
        <form method="POST" action="/listings">
            <h3>Create New LIsting</h3>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]"
                    placeholder="enter a title"
                    class="form-control">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]"
                    placeholder="write a description"
                    class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label for="url" class="form-label">Image Url</label>

                <input type="text" name="listing[image]" placeholder="image url"
                    class="form-control">
            </div>
           <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]"
                    placeholder="enter a price"
                    class="form-control">
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]"
                    placeholder="enter a country"
                    class="form-control">
            </div>
           </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]"
                    placeholder="enter a location"
                    class="form-control">

            </div>
            <br>
            <br>
            <button class="btn btn-dark">ADD</button>
        </form>
    </div>
</div>
